.layout {
  display: flex;
  height: 100vh;
  background: #f8fafc;
}

.right-section {
  margin-left: 0px;
  width: calc(100% - 280px);
}

.content-scroll {
  margin-top: 70px;
  padding: 24px;
  height: calc(100vh - 70px);
  overflow-y: auto;
}
.content-scroll::-webkit-scrollbar {
  width: 8px;
}