/* src/Components/Flights/flightnav.css */
.flight-nav-wrapper {
  width: 1200px;
  background: #fff;
  padding: 100px 84px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  position: absolute;
  transform: translate(150px,-450px);
  border-radius:5px;


}

.trip-type {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 14px;
  
}

.trip-type label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}

.trip-right-text {
  margin-left: auto;
  font-size: 13px;
  color: #555;
}

.flight-search-box {
  margin-top: 16px;
  display: flex;
  align-items: stretch;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.field {
  padding: 14px;
  min-width: 180px;
  border-right: 1px solid #eee;
}

.field:last-child {
  border-right: none;
}

.field .label {
  font-size: 12px;
  color: #666;
  display: flex;
  align-items: center;
  gap: 4px;
}

.field h3 {
  margin: 4px 0;
  font-size: 22px;
}

.field p {
  font-size: 12px;
  color: #777;
}

.swap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  background: #f5f8ff;
}

.disabled {
  color: #aaa;
}

.special-fares {
  margin-top: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.special-fares .title {
  font-weight: 700;
  font-size: 13px;
  margin-right: 6px;
}

.special-fares button {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
  font-size: 13px;
  cursor: pointer;
}

.special-fares button.active {
  border-color: #1a73e8;
  color: #1a73e8;
}

.special-fares .tracker {
  margin-left: auto;
}
