server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/staybook_auth
    username: root
    password: mysql

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: mySuperSecretKeyForStayBookAuthService
  expiration: 3600000