/* BookingTopNavbar.scss */

/* ===== Variables ===== */
$btnb-white: #fff;

$btnb-blue: #1a73e8;

$btnb-text: #555;

$btnb-wrap-height: 74px;
$btnb-inner-max: 1220px;

$btnb-tab-gap: 34px;

/* ===== Mixins ===== */
@mixin btnb-flex($justify: flex-start, $align: center, $gap: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;

  @if $gap != null {
    gap: $gap;
  }
}

@mixin btnb-btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

/* ===== Styles ===== */
.btnb-wrap {
  width: 100%;
  height: $btnb-wrap-height;
  background: $btnb-white;
  border-bottom: 2px solid $btnb-blue;
  @include btnb-flex(center, center);
}

.btnb-inner {
  width: 100%;
  max-width: $btnb-inner-max;
  @include btnb-flex(space-between, center);
  padding: 0 18px;
}

.btnb-left {
  width: 190px;
  @include btnb-flex(flex-start, center);
}

.btnb-logo {
  height: 90px;
  width: 100px;
}

.btnb-tabs {
  flex: 1;
  @include btnb-flex(center, center, $btnb-tab-gap);
}

.btnb-tab {
  @include btnb-btn-reset;
  @include btnb-flex(flex-start, center, 6px);
  flex-direction: column;
  font-size: 12px;
  font-weight: 700;
  color: $btnb-text;

  svg {
    font-size: 18px;
    color: $btnb-text;
  }

  &:hover {
    color: $btnb-blue;

    svg {
      color: $btnb-blue;
    }
  }

  &.active {
    color: $btnb-blue;

    svg {
      color: $btnb-blue;
    }
  }
}

.btnb-right {
  @include btnb-flex(flex-start, center, 14px);
}
