/* SearchBar.scss */

/* =======================
   Variables
======================= */
$searchbar-bg: #fff;

$searchbar-color-primary: #2563eb;
$searchbar-color-white: #fff;

$searchbar-border-color: #e5e7eb;

$searchbar-radius: 8px;

/* =======================
   Mixins
======================= */
@mixin searchbar-radius-border($radius: $searchbar-radius, $border: 1px solid $searchbar-border-color) {
  border: $border;
  border-radius: $radius;
}

/* =======================
   Styles
======================= */
.search-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 140px;
  gap: 12px;
  padding: 16px 40px;
  background: $searchbar-bg;

  input {
    padding: 12px;
    @include searchbar-radius-border($searchbar-radius, 1px solid $searchbar-border-color);
  }

  button {
    background: $searchbar-color-primary;
    color: $searchbar-color-white;
    border-radius: $searchbar-radius;
    border: none;
    font-weight: 600;
  }
}
