.ph-navbar {
  height: 70px;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  position: fixed;
  top: 0;
  left: 280px;
  right: 0;
  z-index: 100;
  
}

.ph-navbar h1 {
  font-size: 22px;
  font-weight: 600;
}

.ph-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #f3f4f6;
  padding: 8px 12px;
  border-radius: 10px;
}

.search-box input {
  border: none;
  background: transparent;
  outline: none;
}

.icon-bell {
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 999px;
}

.profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.avatar {
  width: 36px;
  height: 36px;
  background: #2563eb;
  color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: 600;
}

.name {
  font-size: 14px;
  font-weight: 600;
}

.email {
  font-size: 12px;
  color: #6b7280;
}
