

.layout {
  display: flex;
  overflow: hidden;
}


.right-section_A {
  margin-left: 280px;
  width: calc(100% - 260px);
}


.scroll-area {
  margin-top: 70px;
  height: calc(100vh - 70px);
  overflow-y: auto;
  padding: 24px;
}


.blurred .right-section {
  filter: blur(4px);
  pointer-events: none;
}
