/* layout.css */

* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  margin: 0;
  background: #f7f9fc;
}

/* Layout */
.layout {
  display: flex;
}

/* Right Section */
.right-section_A {
  margin-left: 280px;
  width: calc(100% - 260px);
}

/* Scrollable Content */
.scroll-area {
  margin-top: 70px;
  height: calc(100vh - 70px);
  overflow-y: auto;
  padding: 24px;
}

/* add to layout.css */
.blurred .right-section {
  filter: blur(4px);
  pointer-events: none;
}
